@import "constants";

@mixin base-font () {
  font-family: $font-family;
  // line-height: $line-height;
}

@mixin border-radius ($radius) {
  border-radius: $radius;
}

@mixin gradient {
  background: linear-gradient(90deg, $tanhide, $mandy);
}
