<nav class="menu js_menu">
  <ul>
    <li><a class="menu__home" href="#landing">CFI</a></li>
    <li><a class="menu__item" href="#title">qui_sommes-nous?</a></li>
    <li><a class="menu__item" href="#join">joignez_le_CFI</a></li>
    <li><a class="menu__item" href="#next-events">prochains_événements</a></li>
    <li><a class="menu__item" href="#hall-of-fame">temple_de_la_renommée</a></li>
    <li><a class="menu__item" href="#calendar">calendrier</a></li>
    <li><a class="menu__item" href="#sponsors">partenaires</a></li>
    <li><a class="menu__item" href="#contact">contact</a></li>
  </ul>
</nav>
