<div id="next-events" class="section section_white">
  <div class="section__content container container_small">
    <h2 class="section__title">
      Prochains Événements
    </h2>
    <div class="events-list">
      {% for event in site.data.events %}
      <a href="{{ event.url }}" class="event">
        <div class="event__image-container">
          <img class="event__image" src="{{ event.image }}" alt="Logo {{ event.name }}"/>
        </div>
        <span class="event__info">{{ event.name }}</span>
        <span class="event__info">{{ event.year }}</span>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
