<div id="events" class="section-events section section_white">
  <div class="section__content section-events__content container container_small">
    <h2 class="section__title">
      Événements
    </h2>
    <div class="section-events__events">
      {% for event in site.data.events %}
      <a href="{{ event.url }}" class="section-events__event">
        <span class="section-events__event-title">{{ event.name }}</span>
        <span class="section-events__event-year">{{ event.year }}</span>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
