<div id="contact" class="section section_dark">
  <div class="section__content container container_small">
    <h2 class="section__title">
      Contact
    </h2>
    <div>
      <a class="button button_secondary button_square" href="https://www.facebook.com/groups/281680249003676/">Facebook</a>
      <a class="button button_secondary button_square" href="https://slackin-cfi-ul.herokuapp.com/">Slack</a>
      <a class="button button_secondary button_square" href="https://github.com/CFI-UL/">GitHub</a>
    </div>
  </div>
</div>
