<div id="events" class="section-events section section_white">
  <div class="section__content section-events__content container container_small">
    <h2 class="section__title">
      Événements
    </h2>
    <div class="section-events__events">
      <a href="https://hackfest.ca/" class="section-events__event">
        <span class="section-events__event-title">Hackfest</span>
        <span class="section-events__event-year">2018</span>
      </a>
      <a href="https://csgames.org/corpo/" class="section-events__event">
        <span class="section-events__event-title">CSGames</span>
        <span class="section-events__event-year">2018</span>
      </a>
    </div>
  </div>
</div>