// @import '../node_modules/avalanche-css/avalanche';

@import "theme/_base";
@import "theme/constants";
@import "theme/mixins";

body {
  margin: 0;
  @include base-font;
}

* {
  box-sizing: border-box;
}

ul {
  padding-left: 2em;
}

li {
  padding: 6px 0;
}

////////////////////////////////////////////////////////////////////////////////

.logo {
  @include border-radius($radius-image);
}

.paragraph {
  @include base-font;
  line-height: 21px;
  font-size: 16px;
  font-weight: $font-light;
}

.button {
  @include base-font;
  font-size: 16px;
  font-weight: $font-medium;
  cursor: pointer;
  text-decoration: none;

  &_primary {
    background: $outerspace;
    color: $white;
    border: 1px solid $white;
    padding: 14px 38px;
  }

  &_secondary {
    background: $salmon;
    color: $white;
    padding: 8px 24px;
    font-size: 14px;
    letter-spacing: 0.79px;
  }

  &_round {
    @include border-radius($radius-button-round);
  }

  &_square {
    @include border-radius($radius-button-square);
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
  width: 100%;
  height: 100%;
  &_small {
    max-width: 600px;
  }
  &_medium {
    max-width: 900px;
  }
  &_large {
    max-width: 1440px;
  }
}

////////////////////////////////////////////////////////////////////////////////

.site-main {

}

.site-header {
  background: $codgray;
  color: $white;
  height: $site-header-height;
  position: fixed;
  width: 100%;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__title {
    display: block;
    color: $white;
    text-decoration: none;
    font-size: 24px;
  }

  &__links {
    a {
      @include base-font;
      // line-height: $space-unit;
      font-size: 16px;
      font-weight: $font-bold;
      color: $white;
      text-decoration: none;
      padding-right: $space-unit * 2;
    }
  }
  &__logo {
    height: $space-unit * 2;
  }
}

.site-footer {
  background: $codgray;
  color: $white;
  height: $site-header-height;

  &__content {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}

////////////////////////////////////////////////////////////////////////////////

.section {
  padding: $site-header-height 0;

  &_full-view-port {
    height: calc(100vh + #{$site-header-height});
  }

  &_dark {
    background: $outerspace;
    color: $white;
  }

  &_white {
    background: $white;
    color: $tundora;
  }

  &_color {
    @include gradient;
    color: $white;
  }

  &__title {
    @include base-font;
    font-size: 32px;
    font-weight: $font-bold;
  }
}

//////////////////////////////////////////////

.section-about {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.section-events {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__events {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  &__event {
    @include gradient;
    @include border-radius(10px);
    display: block;
    margin: $space-unit;
    height: $space-unit * 6;
    width: $space-unit * 6;
    color: $white;
    text-decoration: none;
    font-size: 24px;
    font-weight: $font-medium;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__event-title {}
  &__event-year {}
}

.section-hall-of-fame {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.section-sponsors {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.section-contact {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__social-buttons {
    display: flex;
  }
  &__social-button {
    margin: 0 16px;
  }
}


//////////////////////////////////////////////

.section-hero {

  &__logo {
    height: $space-unit * 8;
  }

  &__title {
    @include base-font;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: $font-bold;
    text-align: center;
    color: $white;
    margin: ($space-unit * 2) 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 1025px) {
  .site-header__links {
    display: none;
  }
}
