@import '../node_modules/avalanche-css/avalanche';

@import "theme/_base";
@import "theme/constants";
@import "theme/mixins";

body {
  margin: 0;
  @include base-font(initial);
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 36px 0;
}

h1 {
  // text-align: center;
  margin: 72px 0;
}

* {
  box-sizing: border-box;
}

ul {
  padding-left: 2em;
}

li {
  padding: 6px 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
  width: 100%;
}

.section {
  padding-bottom: 36px;
}

@media #{map-get($av-breakpoints, desk)} {
  .container {
    max-width: 900px;
  }
}

.text {
  @include base-font($space-unit);
}

.site {

  &__header {
    background: $lightgrey;
    padding: 16px;
    font-size: 1.4em;
    // font-weight: $font-regular;
  }

  &__main {
    // padding-bottom: $space-unit * 2;
    padding: 16px 0;
  }

  &__footer {
    // padding: $space-unit;
    // padding: 36px;
  }

  &__title {
    text-decoration: none;
    color: inherit;
  }
}

.contact-list {
  &__item {
    padding-right: 8px;
  }
}

.grid-sandbox {
  padding: 20px;
  margin-bottom: 2em;
  margin-top: 5px;
}

.hall-of-fame-list {
  &-item {
    &__event {
      padding: 0 4px;
    }
    &__position {
      padding: 0 4px;
    }
  }
}
