@import "../utils/constants";

.site-footer {
  background: $codgray;
  color: $white;
  height: $site-header-height;

  &__content {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}