@import "../utils/constants";
@import "../utils/mixins";

.hall-of-fame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hall-of-fame-list {
  padding-left: 2em;

  &__item {
    list-style-type: disc;
    padding: 6px 0;
  }
}
