@import "../utils/mixins";

body {
  margin: 0;
  @include base-font;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.2px;
}

.text {
  @include base-font;

  &_center {
    text-align: center;
  }

  &_left {
    text-align: left;
  }

  &_right {
    text-align: right;
  }

  &_uppercase {
    text-transform: uppercase;
  }
}