@import "../utils/mixins";
@import "../utils/constants";

.button {
  @include base-font;
  font-size: 16px;
  font-weight: $font-medium;
  cursor: pointer;
  text-decoration: none;

  &_primary {
    background: $outerspace;
    color: $white;
    border: 1px solid $white;
    padding: 14px 38px;
  }

  &_secondary {
    background: $salmon;
    color: $white;
    padding: 8px 24px;
    font-size: 14px;
    letter-spacing: 0.79px;
    margin: 0 16px;
  }

  &_round {
    @include border-radius($radius-button-round);
  }

  &_square {
    @include border-radius($radius-button-square);
  }
}
