---
layout: default
---
<div class="container">
  <div class="grid">
    <div class="grid__cell">
      <h1>{{ site.title | escape }}</h1>
      <p class="text">{{ site.description }}</p>
      <p class="text">{{ site.description_suite }}</p>
    </div>
    <div class="grid__cell">
      <h2>Événements à venir</h2>
      <ul>
        <li><a href="https://csgames.org/">CSGames 2018</a></li>
      </ul>
    </div>
    <div class="grid__cell">
      <h2>Temple de la renommée</h2>
      <table>
        <thead>
          <tr>
            <th>Position</th>
            <th>Événement</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9ème</td>
            <td>CSGames 2017</td>
          </tr>
          <tr>
            <td>16ième</td>
            <td>Hackfest 2016</td>
          </tr>
          <tr>
            <td>22ième</td>
            <td>Hackfest 2015</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="grid__cell">
      <h2>Où nous trouver</h2>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
