---
layout: default
---
<div class="container">
  <div class="grid">
    <div class="grid__cell section">
      <h1>{{ site.title | escape }}</h1>
      <p class="text">{{ site.description }}</p>
      <p class="text">{{ site.description_suite }}</p>
    </div>
    <div class="grid__cell section">
      <h2>Événements à venir</h2>
      <ul>
        <li><a href="https://hackfest.ca/">Hackfest 2017</a></li>
        <li><a href="https://csgames.org/">CSGames 2018</a></li>
      </ul>
    </div>
    <div class="grid__cell section">
      <h2>Temple de la renommée</h2>
      <ul class="hall-of-fame-list">
        <li>
          <div class="hall-of-fame-list-item">
            <span class="hall-of-fame-list-item__event">iHack 2017</span>
            <span class="hall-of-fame-list-item__position">7ème position</span>
          </div>
        </li>
        <li>
          <div class="hall-of-fame-list-item">
            <span class="hall-of-fame-list-item__event">NorthSec 2017</span>
            <span class="hall-of-fame-list-item__position">34ème position</span>
          </div>
        </li>
        <li>
          <div class="hall-of-fame-list-item">
            <span class="hall-of-fame-list-item__event">CSGames 2017</span>
            <span class="hall-of-fame-list-item__position">9ème position</span>
          </div>
        </li>
        <ul class="hall-of-fame-list">
          <li class="hall-of-fame-list-item">
            <span class="hall-of-fame-list-item__event">Sécurité</span>
            <span class="hall-of-fame-list-item__position">1ère position</span>
          </li>
          <li class="hall-of-fame-list-item">
            <span class="hall-of-fame-list-item__event">Reverse engineering</span>
            <span class="hall-of-fame-list-item__position">2ème position</span>
          </li>
          <li class="hall-of-fame-list-item">
            <span class="hall-of-fame-list-item__event">Informatique théorique</span>
            <span class="hall-of-fame-list-item__position">3ème position</span>
          </li>
          <li class="hall-of-fame-list-item">
            <span class="hall-of-fame-list-item__event">CSE - Reverse engineering</span>
            <span class="hall-of-fame-list-item__position">3ème position</span>
          </li>
        </ul>
        <li>
          <div class="hall-of-fame-list-item">
            <span class="hall-of-fame-list-item__event">iHack 2016</span>
            <span class="hall-of-fame-list-item__position">2ème position</span>
          </div>
        </li>
        <li>
          <div class="hall-of-fame-list-item">
            <span class="hall-of-fame-list-item__event">Hackfest 2016</span>
            <span class="hall-of-fame-list-item__position">16ème position</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="grid__cell section">
      <h2>Où nous trouver</h2>
      <div class="contact-list">
        <a class="contact-list__item" href="https://slackin-cfi-ul.herokuapp.com/">Slack</a>
        <a class="contact-list__item" href="https://github.com/CFI-UL/">GitHub</a>
      </div>
    </div>
  </div>
</div>
